#profile-button {
    display: flex;
    align-items: center;
    cursor: default;
    padding: 5px;
    border-radius: 50px;
}

#profile-button:hover,  #profile-button.active {
    background-color: rgba(255,255,255,.15);
}

#profile-button .avatar-container {
    width: 60px;
}

#profile-button .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#profile-button .user-info-box {
    padding-right: 20px;
}

#profile-button .user-name,
#profile-button .user-position {
    margin: 0;
    color: #fff;
}

.user-name {
    font-weight: 600;
    font-size: 1em;
}

.user-position {
    font-size: 0.9em;
}

.profile-menu-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.profile-menu-item {
    padding: 3px 0;
    
}

.profile-menu-item a {
    display: flex;
    outline: none;
    text-decoration: none;
    color: #888;
}

.profile-menu-item a:hover {
    color: #333;
}

.profile-menu-item .item-text {
    padding-left: 10px;
}