/* Tickets */
.ticket-container {
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
}

.ticket-container .ticket-number {
    font-size: 1.3em;
}

.ticket-container .ticket-title {
    margin: 5px 0;
}

.ticket-container .ticket-title p {
    font-size: 1.4em;
}

.support-ticket-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid thin #ddd;
    padding-top: 10px;
}

/* Chat and messages */
.conversation-box {
    /*display: flex;
    flex-direction: column;*/
    border-radius: 5px;
    background-color: #eee;
    padding: 15px 20px;
}

.conversation-box .message {
    /*align-self: flex-start;*/
    float: left;
    max-width: 80%;
    margin: 10px 0;
    background-color: #fff;
    padding: 10px 15px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    border-radius: 10px 10px 10px 0;
}

.conversation-box .message .message-content {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: solid thin #ddd;
}

.conversation-box .message.self {
    /* align-self: flex-end; */
    float: right;
    background-color: #E0FCD6;
    border-radius: 10px 10px 0 10px;
}

.conversation-box .message-separator {
    clear: both;
}