.sections-container {
    margin: 15px 0;
}

.chess-table {
    margin-bottom: 15px;
  }
  .chess-table table {
    max-width: 100%;
    border-collapse: separate;
    border-spacing: 2px 2px;
  }
  .chess-table tr td {
    min-width: 120px;
    height: 68px;
    padding: 5px 5px 6px;
    vertical-align: top;
    border: 1px solid #dae2e8;
    border-radius: 2px;
  }
  .chess-table tr td.current {
    background: #dae2e8;
  }
  .chess-table tr td:first-child {
    min-width: 32px;
    padding: 0;
    font-size: 12px;
    line-height: 20px;
    color: #7d92a1;
    border: none;
  }
  .chess-table .flat-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .chess-table /*.free*/.flat-item {
    cursor: pointer;
  }
  .chess-table /*.free**/.flat-item:hover {
    background: #e9eef1;
  }
  .chess-table .flex-row {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .chess-table .rooms-count {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    border-radius: 5px;
    margin-right: 3px;
  }
  .chess-table .title {
    font-size: 10px;
    line-height: 20px;
  }
  .chess-table .number {
    font-size: 10px;
    line-height: 20px;
    color: #0078ce;
    margin-left: auto;
  }
  .chess-table .price {
    font-size: 12px;
    line-height: 24px;
    color: #000;
    font-weight: 700;
    margin: 0;
  }
  .chess-table .area {
    font-size: 10px;
    line-height: 11px;
    color: #000000;
    white-space: nowrap;
  }
  .chess-table .area-price {
    font-size: 10px;
    line-height: 11px;
    color: #7d92a1;
    white-space: nowrap;
  }
  .chess-table .free .rooms-count {
    background: #6fcf97;
  }
  .chess-table .booked .rooms-count {
    background: #f2994a;
    background: #db4240;
  }
  .chess-table .sales .rooms-count {
    background: #828282;
    background: #ffbf00;
  }
  .chess-table .sales .title {
    color: #828282;
  }
  .chess-table .sales .number {
    color: #828282;
  }
  .chess-table .sales .price {
    color: #828282;
  }
  .chess-table .sales .area {
    color: #828282;
  }
  .chess-table .sales .area-price {
    color: #828282;
  }
  .chess-table .not-available {
    background: #e0e0e0;
  }
  .chess-table .not-available .rooms-count {
    background: #e0e0e0;
  }
  .chess-table .not-available .title {
    color: #e0e0e0;
  }
  .chess-table .not-available .number {
    color: #e0e0e0;
  }
  .chess-table .not-available .price {
    color: #e0e0e0;
  }
  .chess-table .not-available .area {
    color: #e0e0e0;
  }
  .chess-table .not-available .area-price {
    color: #e0e0e0;
  }
  
  .flat-chess .h3,
  .flat-chess h3 {
    margin-bottom: 13px;
  }
  
  .flat-chess__item {
    margin-bottom: 5px;
  }
  .flat-chess__item:last-child {
    margin-bottom: 0;
  }
  .flat-chess__item.open .content {
    display: block;
  }
  .flat-chess__item.marked .info--item {
    border: 1px solid #6fcf97;
    border-left: none;
  }
  .flat-chess__item.marked .info--item.position {
    background: #6fcf97;
  }
  
  .flat-chess .info {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    cursor: pointer;
  }
  .flat-chess .info--item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    line-height: 24px;
    padding: 0 12px;
    color: #000;
    border: 1px solid #0078ce;
    border-left: none;
    -webkit-transition: border 0.3s ease;
    transition: border 0.3s ease;
    min-height: 40px;
  }
  .flat-chess .info--item:first-child {
    border-radius: 5px 0 0 5px;
  }
  .flat-chess .info--item:last-child {
    border-radius: 0 5px 5px 0;
  }
  .flat-chess .info--item a {
    color: inherit;
  }
  .flat-chess .info--item a:hover,
  .flat-chess .info--item a:focus,
  .flat-chess .info--item a:active {
    color: inherit;
  }
  .flat-chess .info--item.position {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 26%;
    flex: 0 0 26%;
    max-width: 26%;
    padding-left: 22px;
    padding-right: 22px;
    -ms-flex-positive: 0;
    flex-grow: 0;
    font-weight: 700;
    color: #fff;
    background: #0078ce;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
  }
  .flat-chess .info--item.available-flats {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 28%;
    flex: 0 0 28%;
    max-width: 28%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    color: #0078ce;
  }
  .flat-chess .info--item.deadline {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-left: 22px;
    font-weight: 450;
  }
  .flat-chess .info--item.floors {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;
  }
  
  .flat-chess .content {
    display: none;
  }

  .flat-chess .content .section {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    cursor: pointer;
    border-radius: 3px;
    font-size: 12px;
    /* line-height: 30px; */
    color: #7d92a1;
    background: rgba(0, 120, 206, .1);
    padding: 5px;
    margin: 5px 0;
  }

  .flat-chess .content .section:hover {
    background: rgba(0, 120, 206, .2);
  }

  .flat-chess .content .section.active {
    background: rgba(111, 207, 151, .2);
  }

  /*
  .flat-chess .content .section span {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  */
  
  .flat-chess .content .section.active .section-arrow {
      transform: rotateZ(90deg);
  }
  
  .flat-chess .content .section.active .section-arrow {
      transform: rotateZ(90deg);
  }

  .flat-chess .content .section.active ~ .chess-table {
      display: block;
  }
  
  .flat-chess .abbreviation {
    padding: 16px 3px 15px;
    border-bottom: 1px solid #dae2e8;
    margin-bottom: 10px;
  }
  .flat-chess .abbreviation span {
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
    position: relative;
    padding-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
  }
  .flat-chess .abbreviation span::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .flat-chess .abbreviation span.free::before {
    background: #6fcf97;
  }
  .flat-chess .abbreviation span.booked::before {
    background: #f2994a;
    background: #db4240;
  }
  .flat-chess .abbreviation span.sales::before {
    background: #828282;
    background: #ffbf00;

  }
  .flat-chess .abbreviation span.not-available::before {
    background: #e0e0e0;
  }
  
  @media screen and (max-width: 1200px) {
    .flat-chess .info--item {
      font-size: 12px;
      line-height: 22px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .flat-chess .info {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    .flat-chess .info--item.position {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
      flex: 0 0 40%;
      max-width: 40%;
    }
    .flat-chess .info--item.position,
    .flat-chess .info--item.available-flats,
    .flat-chess .info--item.deadline {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
    }
    .flat-chess .info--item.floors {
      display: none;
    }
  }
  
  @media screen and (max-width: 576px) {
    .flat-chess .info--item.position,
    .flat-chess .info--item.available-flats {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .flat-chess .info--item.deadline {
      display: none;
    }
  }
  
  @media screen and (max-width: 420px) {
    .flat-chess .info--item.position {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
    .flat-chess .info--item.available-flats {
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .flat-chess .abbreviation span {
      min-width: 160px;
      max-width: 100%;
      margin-right: 0;
      padding-right: 15px;
    }
  }

.chess-discount-badge {
    height: 20px;
    padding: 0 5px;
    font-size: .9em;
    line-height: 20px;
    color: #be0106;
    border: 1px solid #be0106;
    border-radius: 5px;
}