.modal-buttons {
  display: flex;
  justify-content: end;
}

.modal-buttons span {
  cursor: pointer;
}

.image-container {
  display: flex;
  height: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}