.modal-window {
  overflow: hidden !important;
}

.modal-buttons {
  display: flex;
  justify-content: end;
}

.modal-buttons span {
  cursor: pointer;
}

.modal-media-container {
  display: flex;
  height: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.layout-buttons {
  z-index: 99;
}

.zoom-button {
  cursor: pointer;
}